<section>
  <div class="page-header">
    <h1>Groups</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="group in vm.groups"
       ui-sref="groups.view({ groupId: group._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="group.created | date:'mediumDate'"></span>
        by
        <span ng-if="group.user" ng-bind="group.user.displayName"></span>
        <span ng-if="!group.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="group.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.groups.$resolved && !vm.groups.length">
    No Groups yet, why don't you <a ui-sref="groups.create">create one</a>?
  </div>
</section>
