<section>
  <div class="page-header">
    <h1>{{vm.member._id ? 'Edit Member' : 'New Member'}}</h1>
  </div>
  <div class="col-md-12">
    <form name="vm.form.memberForm" class="form-horizontal" ng-submit="vm.save(vm.form.memberForm.$valid)" novalidate>

      <fieldset>
    <!-- Member Name -->
        <div class="form-group" show-errors>
          <label class="control-label" for="name">Name</label>
          <input name="name" type="text" ng-model="vm.member.name" id="name" class="form-control" placeholder="Name" required>
          <div ng-messages="vm.form.memberForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Member name is required.</p>
          </div>
        </div>

    <!-- Spouse Name -->    
        <div class="form-group" show-errors>
          <label class="control-label" for="name">Spouse Name</label>
          <input name="name" type="text" ng-model="vm.member.spouseName" id="name" class="form-control" placeholder="Spouse Name">
        </div>

    <!-- Kids Names -->
        <div class="form-group" show-errors>
          <label class="control-label" for="name">Kids' Names (separate with a comma)</label>
          <input name="name" type="text" ng-model="vm.member.kidsNames" id="name" class="form-control" placeholder="Kids' Names">
        </div>

    <!-- Became a member -->
        <div class="form-group" show-errors>
          <label class="control-label" for="name">Became a Member:</label>
          <input name="name" type="Date" ng-model="vm.member.becameMember" id="name" class="form-control" placeholder="MM/DD/YYYY">
        </div>

    <!-- Small Group assignment -->
        <div class="form-group" show-errors>
          <label class="control-label" for="name">In a small group?</label>
          <select name="group" type="text" ng-options="group.name as group.name for group in vm.group" ng-model="vm.member.group" id="name" class="form-control"></select>
        </div>

        
        <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.member._id ? 'Update' : 'Create'}}</button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
