<section>
  <div class="page-header">
    <h1>Name:</h1>
    <h3 ng-bind="vm.member.name"></h3>
    <h1>Spouse Name:</h1>
    <h3 ng-bind="vm.member.spouseName"></h3>
    <h1>Number of Kids:</h1>
    <h3 ng-bind="vm.member.numKids"></h3>
    <h1>Kids Names:</h1>
    <h3 ng-bind="vm.member.kidsNames"></h3> 
    <h1>Became a member on:</h1>
    <h3 ng-bind="vm.member.becameMember"></h3>
  </div>
  <div class="pull-right"
       ng-show="vm.member.isCurrentUserOwner">
    <a class="btn btn-primary"
       ui-sref="members.edit({ memberId: vm.member._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span ng-bind="vm.member.created | date:'mediumDate'"></span>
      by
      <span ng-if="vm.member.user"
            ng-bind="vm.member.user.displayName"></span>
      <span ng-if="!vm.member.user">Deleted User</span>
    </em>
  </small>
  <p class="lead" ng-bind="vm.member.content"></p>
</section>
