<section ng-controller="HomeController">
  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        <img alt="Rock Point Logo" class="img-responsive text-center" src="modules/core/client/img/brand/logo.png" />
      </div>
    </div>
    <br>
    <div class="row">
      <p class="lead">
        Welcome to Rock Point Church!  We're glad you're here!  
      </p>
    </div>
    <div class="row">
      <p>
        <a class="btn btn-primary btn-lg" href="http://rockpointministries.org/#/home" target="_blank">Learn more</a>
      </p>
    </div>
  </div>
  <div>
    <h2>Welcome to Rock Point</h2>
    <p>We trust that you will find this web site to be useful as you learn about Rock Point Church for the first time or become involved with one of our ministries at a deeper level.  We invite you to Worship Christ, Walk with Christ and Work for Christ with us! </p>
<!--     <ul>
      <li>
        Small Groups
      </li>
      <li>
        Kids Rock
      </li>
      <li>
        Middle School Youth Group
      </li>
      <li>
        High School Youth Groups
      </li>
      <li>
        Biblical Counseling
      </li>
      <li>
        Moms Of Pre Schoolers aka MOPS
      </li>
      <li>
        Celebrate Recovery
      </li>
      <li>
        Rock Paper Scissors
      </li>
      <li>
        Rock University
      </li>
    </ul> -->
  </div>
  <div class="row">
    <div class="col-md-3">
      <h2><strong>N</strong>ew <a target="_blank" href="http://rockpointministries.org/#/new-to-rock-point">Here</a>?</h2>
      <ul>
       <li><strong>What do I wear?</strong></li>
        <li>Clothes.  Seriously.  We are much more concerned about what's going on inside of a person, than the clothes they wear on the outside.  If it makes you feel better, our pastors are usually wearing jeans.</li>
        <li><strong>Music</strong></li>
        <li>Our music is upbeat and our live band usually consists of guitars, drums, and keys.  We try to sing songs that are deep in meaning, but easy to understand.</li>
        <li><strong>Children</strong></li>
        <li>We offer dynamic children services from birth to 5th grade during the Sunday morning gathering.</li>
      </ul>
    </div>
    <div class="col-md-3">
      <h2><strong>M</strong>iss a <a target="_blank" href="http://rockpointministries.org/#/media/">sermon</a>?</h2>
      <p>Catch up <a target="_blank" href="http://rockpointministries.org/#/media">here</a></p>
    </div>
    <div class="col-md-3">
      <h2><strong>A</strong>bout <a target="_blank" href="http://rockpointministries.org/#/about-rock-point">Us</a></h2>
      <p>Our purpose is to lead people into a growing relationship with Jesus Christ.</p>
      <p>Our vision is to impact lives, our community, and the world with the good news of Jesus Christ.</p>
      <p>See our Rock Point Confession of Faith <a href="../Confession of Faith.pdf" target="_blank">here</a></p>
    </div>
    <div class="col-md-3">
      <h2><strong>RP </strong><a href="http://rockpointministries.org/#/ministries">Ministries</a></h2>
      <p>The ministries of Rock Point are always developing and expanding.  </p>
    </div>
  </div>
<!--   <div class="well">
    <h2>MEAN.JS Documentation</h2>
    <p>
      Once you're familiar with the foundation technology, check out the MEAN.JS Documentation:
      <ul>
        <li><a target="_blank" href="http://meanjs.org/docs.html">MEAN.JS Documentation</a>
        </li>
        <li><a target="_blank" href="http://meanjs.org/generator.html">Yeoman Generator</a>
        </li> 
        <li><a target="_blank" href="http://meanjs.org/modules.html">Modules</a>
        </li>
        <li><a target="_blank" href="http://meanjs.org/changelog.html">Changelog</a>
        </li>
        <li><a target="_blank" href="http://meanjs.org/community.html">Community</a>
        </li>
        <li><a target="_blank" href="http://blog.meanjs.org">Blog</a>
        </li>
      </ul>
    </p>
  </div>
  <br>Enjoy &amp; Keep Us Updated,
  <br>The MEAN.JS Team. -->
</section>
